.chips {
	display: "flex";
    position: "relative";
    border: "1px solid #ccc";
    font: "13.33333px Arial";
    min-height: 24;
    align-items: "center";
    flex-wrap: "wrap";
    padding: "2.5px";
    border-radius: 5;
    &:focus {
    	border: "1px solid green";
    }
}